.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.6rem;

  &>p:first-child {
    font-weight: 500;
    font-size: 1.8rem;
  }

  &>p:nth-child(2) {
    color: var(--font-color-gray);
    font-size: 1.2rem;
  }

}
