.svgCurve {
  position: absolute;
  bottom: -150px;
  left: 0;
  height: 150;
  width: 100%;
  fill: var(--bg-color);
  stroke: none;
  display: none;

  @media (min-width: 850px) {
    display: block;
  }
}
