.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	transform: translate(0, -5rem);
	color: white;
	padding: 0 2rem;
	position: relative;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main h1 {
	font-size: 7rem;
	letter-spacing: -0.02em;
	z-index: 100;
}

.svgContainer {
	width: 25rem !important;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%) scaleX(-1);
	transition: all 0.3s;
}

.arrow {
	position: absolute;
	top: 90%;
	animation: upAndDown 0.7s linear infinite alternate !important;
}

@keyframes upAndDown {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(40%);
	}
}

@media (min-width: 700px) {
	.main h1 {
		font-size: 12rem;
	}

	.svgContainer {
		width: 30rem !important;
	}
}
@media (min-width: 1000px) {
	.main h1 {
		font-size: 13rem;
	}

	.svgContainer {
		width: 33rem !important;
	}
}
