.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  background-color: var(--font-color);
  z-index: 0;
  display: none;

  @media (min-width: 850px) {
    display: block;
  }

  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1.4rem;
  }

  p {
    color: var(--bg-color);
    font-size: 9rem;
    font-weight: 400;
    display: flex;

    span {
      opacity: 0;
      transform: translate(0px, 100px);
      display: block;
    }
  }
}
