.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;

  @media (min-width: 850px) {
    padding: 2rem;
  }

  & div {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    p {
      cursor: pointer;
    }
  }
}
