.section {
  background-color: #e7eeed;
  color: #333;
  border-bottom: 0.5px solid rgba(178, 178, 178, 0.667);
  height: 100vh;
  padding: 1rem 1rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
}

.text h1 {
  font-size: 2rem;
  color: #1544c0;
}

.text h2 {
  font-size: 1.1rem;
  color: #212121;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #212121e6;
}

.text a {
  color: #1544c0;
}

.container img {
  display: none;
}

.link {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  .text {
    gap: 1.7rem;
  }

  .text h1 {
    font-size: 2.3rem;
  }

  .text h2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .text p {
    font-size: 1.1rem;
    line-height: 1.7;
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
  }

  .text {
    gap: 1.4rem;
  }

  .text h1 {
    font-size: 3.3rem;
  }

  .container img {
    display: block;
    box-shadow: 0px 10px 12px 0 rgba(86, 86, 86, 0.436);
  }

  .link {
    align-self: flex-start;
  }
}
