@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* @font-face {
	font-family: "Ginger Bold";
	src: url("/fonts/F37 Ginger Bold.otf");
} */

@font-face {
	font-family: "Ginger Regular";
	src: url("/fonts/F37 Ginger Regular.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--font-regular: "Ginger Regular", sans-serif;
	/* --font-bold: "Ginger Bold", sans-serif; */
	--font-poppings: "Poppins", sans-serif;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	position: relative;
	/* min-height: -webkit-fill-available; */
	height: 100%;
}

body {
	font-size: 62.5%;
	font-family: "Ginger Regular", sans-serif;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 1.2rem;
}

.homePage {
	background: linear-gradient(
		rgb(0, 115, 255),
		rgb(128, 0, 255),
		rgb(128, 0, 255)
	);
	width: 100vw;
	padding-top: 5rem;
	position: relative;
}

.about-page {
	background: linear-gradient(rgb(191, 0, 255), rgb(255, 0, 149));
	width: 100vw;
	padding-top: 5rem;
	position: relative;
}

.portfolio-page {
	background: linear-gradient(rgb(255, 0, 119), rgb(255, 0, 179));
	width: 100vw;
	padding-top: 5rem;
	position: relative;
}
